{{yield}}

<div class='col-md-6'>

  {{#link-to 'tree' tree.id}}{{tree.name}}{{/link-to}}
  <br>
    <span>This is a {{tree.type}}</span>
  <br>
    <span>This tree is located at {{tree.address}}</span>
  <br>
  <p><img src={{tree.image}} width="200px" height='200px'/></p>
</div>
