{{yield}}

<div class='col-md-6'>
  <h2>{{#link-to 'tree' tree.id}}{{tree.name}}{{/link-to}}</h2>
    <p><span>Type: {{tree.type}}</span></p>
    <p><span>This tree is located at {{tree.address}}</span></p>
  <p><img src={{tree.image}} width="200px" height='200px'/></p>
</div>
